* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    min-height: 200vh;
}
section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
}
section .side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(example.jpg);
    background-size: 100% 100%;
}
section .side#side1{
    -webkit-clip-path: polygon(0 0, 60% 0, 27% 19%, 61% 21%, 25% 33%, 61% 38%, 24% 49%, 61% 55%, 24% 65%, 62% 70%, 23% 79%, 61% 85%, 25% 94%, 60% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 27% 19%, 61% 21%, 25% 33%, 61% 38%, 24% 49%, 61% 55%, 24% 65%, 62% 70%, 23% 79%, 61% 85%, 25% 94%, 60% 100%, 0 100%);
}
section .side#side2{
    -webkit-clip-path: polygon(100% 0, 60% 0, 27% 19%, 61% 21%, 25% 33%, 61% 38%, 24% 49%, 61% 55%, 24% 65%, 62% 70%, 23% 79%, 61% 85%, 25% 94%, 60% 100%, 100% 100%);
    clip-path: polygon(100% 0, 60% 0, 27% 19%, 61% 21%, 25% 33%, 61% 38%, 24% 49%, 61% 55%, 24% 65%, 62% 70%, 23% 79%, 61% 85%, 25% 94%, 60% 100%, 100% 100%);
}
.contentBox{
    background: #000;
    color: #fff;
    padding-top: 150vh;
    padding-bottom: 25vh;
}
.contentBox h2{
    position: relative;
    font-size: 4em;
}
.contentBox p{
    position: relative;
    font-size: 1.2em;
}